#graph{
    background-color: gray;
}

.inputDesc{
    margin-top: 10px;
    margin-bottom: 0;
}

#error{
    color: red;
}

#upload, #uploadStatus {
    display: inline-block; /* or use display: inline; */
    vertical-align: top; /* Aligns them at the top if they have different heights */
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px; /* Optional: Adds some space between the button and the paragraph */
}

#graphContainer{
    display: flex;
    align-items: stretch;
}

#uploadStatus{
    color: blue;
}

#channelsTable {
    flex: 1;
    border-collapse: collapse;
    table-layout: fixed;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}
.selected {
    background-color: blue;
    color: white;
}

.checkbox-column {
    width: 50px; /* Set a fixed width for the checkbox column */
    max-width: 50px; /* This is optional since width is already fixed */
    padding: 0; /* Optional: Remove padding if you want the checkbox to fit tightly */
    text-align: center; /* Center the checkbox within the column */
}

#verify{
    margin-top: 20px;
}

#editor {
    width: 600px;
    height: 400px;
}

.ace_keyword {
    color: #FF0000;
}

.ace_paren{
    color: rgb(249, 129, 255);
}

.ace_brace{
    color: rgb(97, 97, 255);
}

.ace_function{
    color: rgb(255, 255, 75);
}

.ace_string{
    color: #bb800966;
}

.ace_constant{
    color: #26d7b1;
}