#graph{
    background-color: gray;
}

.inputDesc{
    margin-top: 10px;
    margin-bottom: 0;
}

#error{
    color: red;
}

#upload, #uploadStatus {
    display: inline-block; /* or use display: inline; */
    vertical-align: top; /* Aligns them at the top if they have different heights */
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px; /* Optional: Adds some space between the button and the paragraph */
}

#graphContainer{
    display: flex;
    align-items: stretch;
    height: 300px
}

#uploadStatus{
    color: blue;
}

#channelsTable {
    flex: 1;
    border-collapse: collapse;
    table-layout: fixed;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}
.selected {
    background-color: blue;
    color: white;
}

.checkbox-column {
    width: 50px; /* Set a fixed width for the checkbox column */
    max-width: 50px; /* This is optional since width is already fixed */
    padding: 0; /* Optional: Remove padding if you want the checkbox to fit tightly */
    text-align: center; /* Center the checkbox within the column */
}

#verify{
    margin-top: 20px;
}

#editor {display: inline-block;
    width: 600px;
    height: 400px;
}

.ace_keyword {
    color: #FF0000;
}

.ace_paren{
    color: rgb(249, 129, 255);
}

.ace_brace{
    color: rgb(97, 97, 255);
}

.ace_function{
    color: rgb(255, 255, 75);
}

.ace_string{
    color: #bb800966;
}

.ace_constant{
    color: #26d7b1;
}




.card {
    display: inline-block;
    background-color: #e9e637;/*#90ee90; /* Light green background */
    border-radius: 10px;
    padding: 20px;
    font-family: Arial, sans-serif;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 5px;
    position: relative;
}
    
.title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block;
}

.edit-button {
    padding: 5px 10px;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}

.subtitle {
    font-size: 18px;
    color: #555;
    margin-bottom: 15px;
}

.content {
    font-size: 16px;
    margin-bottom: 10px;
}

.status, .lastused {
    font-size: 16px;
    color: #555;
}

.error-background {
    background-color: red;
}


#runonce{
    margin-right: 50px;
}


#sliderContainer {
    display: flex;
    align-items: center;
	float: left;
	margin-right: 50px;
}

#slider-value {
    margin-right: 20px;
    font-size: 20px;
    width: 3em;
}

#throttle{
    writing-mode: bt-lr; /* IE */
    writing-mode: vertical-lr;
    width: 8px;
    height: 200px;
    outline: none;
    margin-top: 20px;
}

#graphSettingsContainer{
    float: left;
    margin-right: 40px;
}

#switches {
    display: flex;
    flex-direction: column;
}

.switch-pair {
    display: flex;
    align-items: center;
	height: 45px;
}
.switch-pair h2 {
    margin-left: 20px;
}

.cardss{
	justify-content: left;
}






/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

/* Hide default HTML checkbox */
.switchInput {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

.switchInput:checked + .slider {
	background-color: #2196F3;
}

.switchInput:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

.switchInput:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}