<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <button id="upload">Upload</button>
    <p id="uploadStatus"></p>
    <br>
    <div id="graphContainer">
        <svg id="graph" width="1000" height="300"></svg>
        <table id="channelsTable"></table>
    </div>
    <p id="time">Current time: Loading...</p>
    <button id="new">New node</button>
    <button id="delete">Delete selected node</button>
    <form id="form">
        <p class="inputDesc">Percentage</p>
        <input type="text" value="50%" id="percentage">
        <p class="inputDesc">Time</p>
        <input type="text" value="06:00" id="time">
        <p id="error"></p>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
<script src="/static/script.js"></script>
</html>